.App {
	text-align: center;
}
html {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	color: black;
}
a {
	text-decoration: none !important;
	color: white !important;
}
.bg-yellow {
	/* background: #fffbc3; */
	background: #f97cc3;
}
.text-white {
	color: white;
}

.pg-container {
	/* background-color: #ccc; */
	min-height: calc(100vh - 88px);
	border: 0px;
	width: 95%;
	margin: 0 auto;
	color: black;
}

.fab {
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin: 20px;
	/* margin-right: 20px;
	margin-bottom: 16px; */
	background: #f97cc3;
	width: 60px;
	height: 60px;
}

.tp {
	background: transparent;
}

.bump-click:hover {
	box-shadow: black 8px 8px 8px;
}
